/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

/* Header CSS */
header {
  /* position: absolute; */
  width: 100%;
  background: #000;
  z-index: 1000;
  overflow: hidden;
  margin-bottom: -40px;
}

header .logo img {
  width: auto;
  max-width: inherit;
  max-height: 80px;
}
header a {
  display: inline-flex;
  justify-content: center;
  color: var(--white);
  padding: 0 1rem !important;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: var(--oswald-font);
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 15ms ease-in-out;
  -moz-transition: all 15ms ease-in-out;
  -o-transition: all 15ms ease-in-out;
  -ms-transition: all 15ms ease-in-out;
  transition: all 15ms ease-in-out;
}

header .sticky a {
  color: var(--light-black);
}
header a:hover {
  color: var(--yellow);
}
.head-login-btn,
.head-logout-btn {
  width: 90px;
  height: 45px;
  color: white;
  font-size: 16px;
  border: none;
  background-color: rgba(7, 235, 75, 0.932);
  margin-left: 15px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}
.head-logout-btn {
  background-color: rgba(243, 7, 26, 0.932);
}
.head-login-btn:hover,
.head-logout-btn:hover {
  background-color: var(--yellow);
}
.user-name {
  color: green;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 7px;
}

/* Media Query CSS */

@media (max-width: 1024px) {
  header .navbar {
    background-color: #000;
  }
  header .navbar-toggler {
    bottom: none;
  }
  header .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  header .navbar-toggler-icon {
    width: 2rem;
    height: 2rem;
    background-color: white;
  }
  header a {
    color: var(--light-black);
    padding: 5px !important;
    color: white;
  }

  button.navbar-toggler .collapsed {
    width: 0px !important;
  }

  .head-login-btn,
  .head-logout-btn {
    margin-left: 0px;
  }
  .header .logo img {
    max-width: 250px !important;
  }
}


@media (max-width: 768px) {
  .h-100vh {
    height: 100vh;
  }
}
