/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

/* Header CSS */
.main-head {
  z-index: 1000;
  width: 100%;
}
header {
  background-color: #333;
  padding: 10px;
  position: relative;
  transition: background-color 0.3s;
}

.sticky {
  background-color: #000;
}

.logo img {
  height: 70px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.menu {
  display: flex;
  align-items: center;
}

.menu.open {
  display: block;
  transform: translateX(0);
}

.menu a {
  display: block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.menu a:hover {
  color: #abf00c;
}

.menu .user-name {
  color: green;
  padding: 10px;
  font-size: 16px;
  padding-bottom: 0px;
}

.login-btn,
.logout-btn {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  margin-left: -7px;
}

.login-btn {
  background-color: green;
  color: #fff;
}

.logout-btn {
  background-color: #dc3545;
  color: #fff;
}

@media (max-width: 992px) {
  .menu-toggle {
    display: block;
  }
  .menu {
    position: fixed;
    top: 80px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #333;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }
  .menu.open {
    transform: translateX(0);
  }

  .logout-btn {
    margin-left: 10px;
    margin-top: 10px;
  }
  .no-scroll {
    overflow: hidden;
  }
}
@media (max-width: 646px) {
  .menu {
    display: block;
  }
}
@media (max-width: 570px) {
  .menu {
    display: block;
  }
}