/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

/* Header CSS */
.main-head {
  z-index: 1000;
  width: 100%;
  overflow: hidden;
}
header {
  background-color: #333;
  padding: 10px;
  position: relative;
  transition: background-color 0.3s;
}

.sticky {
  background-color: #000;
}

.logo img {
  height: 55px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.menu {
  display: flex;
  align-items: center;
}

.menu.open {
  display: block;
  transform: translateX(0);
}

.menu a {
  display: block;
  padding: 0px 14px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.menu a:hover {
  color: #abf00c;
}

.menu .user-name {
  color: #f0e9e9;
  padding-top: 10px;
  font-size: 16px;
  padding-bottom: 0px;
}
.menu .user-name:hover{
  color: #abf00c;
  cursor: pointer;
}
.head-buttons {
  margin-left: 10px;
}

.login-btn,
.logout-btn {
  border: none;
  padding: 7px 14px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

.login-btn {
  background-color: green;
  color: #fff;
}

.logout-btn {
  background-color: #dc3545;
  color: #fff;
  margin-right: 10px;
}
.login-btn:hover,
.logout-btn:hover {
  background-color: var(--yellow);
}

.cart-icon-wrapper {
  position: relative;
  display: inline-block;
}
.cart-icon {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  position: relative;
  margin-right: 12px;
}
.cart-icon:hover {
  color: #abf00c;
  transform: scale(1.3);
}

.cart-count {
  position: absolute;
  top: -12px;
  right: 5px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

/* Header Media Query */

@media (max-width: 992px) {
  .logo img {
    height: 50px;
  }
  .menu-toggle {
    display: block;
  }
  .menu {
    position: fixed;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #333;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }
  .menu a {
    padding: 9px 22px;
  }
  .menu.open {
    transform: translateX(0);
  }
  .login-btn {
    margin-left: -12px;
  }
  .logout-btn {
    margin-left: 10px;
    margin-top: 10px;
  }
  .menu .user-name {
    padding-left: 20px;
  }
  .cart-icon {
    padding: 12px;
    padding-left: 23px;
  }
  .cart-count {
    top: -1px;
    right: 13px;
    display: block;
  }
  .no-scroll {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .logo img {
    height: 45px;
  }
  .menu {
    display: block;
  }
}

@media (max-width: 646px) {
  .logo img {
    height: 45px;
  }
  .menu {
    display: block;
  }
}

@media (max-width: 570px) {
  .logo img {
    height: 40px;
  }
  .menu {
    display: block;
    top: 60px;
  }
}
