/* Web Header Style */
/* 
.web-header {
  display: block;
}
.Header-rsponsive {
  display: none;
}
.header-navbar {
  padding: 15px;
  background-color: #333;
}

.header-navbar-logo img {
  width: 25%;
}


.header-navbar-links a {
  padding: 8px 15px;
  font-size: 18px;
    font-weight: 500;
}

.header-navbar-links a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.nav-toggle-button {
  display: none;
  background-color: #333;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
} */

/* Header Media Query */

/* @media (max-width: 768px) {
  .header-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .web-header {
    display: none;
  }

  .Header-rsponsive {
    display: block;
  }
  .hamburger{
    display: block;
  }
  .hamburger .fa-bars{
    color: #fff;
    font-size: 2rem;
  }

  .header-navbar-links {
    position: fixed;
    top: 88px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #333;
    flex-direction: column;
    justify-content: start;
    transform: translateX(-100%);
    font-size: 18px;
  }

  .header-navbar-links.open {
    transform: translateX(0);
  }
   
}

@media (max-width: 425px) {

  .header-navbar-links {
    top: 61px;
  }
}

@media (max-width: 375px) {

  .header-navbar-links {
    top: 57px;
  }
} */
