/* Shoping Page */

.cloth_shoping {
  padding-top: 50px;
  padding-bottom: 50px;
}
.cloth_shoping .card-img-top {
  transition: all 500ms ease-in-out;
}
.cloth_shoping h2 {
  font-size: 2.5rem;
  padding-bottom: 50px;
}
.cloth_shoping span {
  font-size: 2.5rem;
  color: var(--light-red);
  padding-bottom: 50px;
}

.cloth_shoping .item_rating i {
  color: var(--yellow);
  padding-right: 5px;
}
.cloth_shoping .wishlist i {
  color: var(--grey);
  font-size: 20px;
  cursor: pointer;
}
.cloth_shoping .wishlist i:hover {
  color: var(--light-red);
}
.cloth_shoping .card_title {
  font-family: var(--oswald-font);
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.cloth_shoping .card_text {
  color: var(--grey);
  font-size: 15px;
}
.cloth_shoping .cloth_price {
  background-color: var(--bg-coffee);
  display: inline-block;
  padding: 7px 12px;
  border-radius: 4px;
}
.cloth_shoping .cloth_price h5 {
  color: var(--yellow);
  font-size: 1rem;
}

.cloth_shoping .add_to_card{
  padding-top: 20px;
  padding-bottom: 20px;
  float:right;
}
.cloth_shoping .add_to_card a {
  background: var(--yellow);
  font-size: 1rem;
  line-height: 5;
  text-decoration: none;
  font-weight: 700;
  padding: 8px 14px;
}
.cloth_shoping .card:hover .card-img-top {
  transform: scale(1.1);
}


/* Review Page */
.review-head h1 {
  padding-bottom: 50px;
}
.review-head span {
  color: var(--light-red);
  text-align: center;
}
.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.reviews .rCard {
  width: 260px;
  height: 270px;
  background: white;
  text-align: center;
  padding: 16px;
  margin-inline: 20px;
}
.reviews .rCard:hover {
  transition: 0.5s ease;
  background-color: rgb(182, 176, 176);
  cursor: pointer;
}
.reviews .rCard img {
  width: 42%;
  border-radius: 50%;
  margin-bottom: 10px;
}
.reviews .rCard button {
  width: 90px;
  height: 50px;
  background-color: rgb(3, 165, 165);
  color: white;
  border: none;
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
}

/* Products Page */
.products {
  margin-top: 50px;
  padding-bottom: 20px;
}

.products span {
  color: var(--light-red);
}
.card a {
  text-decoration: none;
}

/* Products Details Page */

.card-body {
  padding: 1rem;
}
.card-text {
  margin-bottom: 0.5rem;
}

/* Blog Page */
.blogs {
  margin: 40px 0px;
  background-color: #f5f5f5;
}

.blog-head h1 {
  font-size: 2.5em;
  padding-top: 30px;
}

.blog-head h1 span {
  color: #ff6347;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.blog .blogCard {
  width: 500px;
  text-align: center;
  background-color: #fff;
  margin-inline: 22px;
  padding-bottom: 11px;
  border-radius: 5px;
  margin-top: 20px;
}
.blogCard img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.blogCard a {
  padding: 4px 20px;
  background-color: rgb(3, 151, 151);
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.blogCard:hover {
  transition: 0.5s ease;
  background-color: gray;
  cursor: pointer;
  color: var(--white);
}

/* Contact page */

.contact-form{
  padding: 19px;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-map{
  padding: 0px 20px;
}

.cont-main, .contact-map iframe{
  border-radius: 10px;
}
.contact-head h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.contact-head h1 span {
  color: #ff6347; 
}

/* Footer */
.footer {
  background-color: #000 !important;
  color: var(--white);
}

.footerLogo img {
  width: 180px;
  padding-bottom: 30px;
}

.footer h2 {
  font-size: 1.5rem;
  padding: 20px 0;
}

.footer p {
  padding-top: 5px !important;
}

.scroll_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--light-red);
  color: var(--white);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.scroll_top:hover {
  background: var(--white);
  color: #000;
}


/* Media Query Styles */

@media (max-width: 768px) {
  /* Blog Page */
  .blogCard {
    width: calc(100% - 20px);
  }

  /* Contact page */
    .login-form {
      padding: 1rem;
    }
    .contact-map iframe{
      height: 385px;
    }  

  /* Footer page */
  .footerLogo img {
    width: 80px;
    padding-bottom: 20px;
  }
  
  .footer h2 {
    font-size: 1rem;
    padding: 10px 0;
  }
}

@media (max-width: 480px) {
  .head h1 {
    font-size: 2em;
  }

  .blogCard p {
    font-size: 0.9em;
  }
.contact-form{
  margin-bottom: 20px;
}
  .cont-main,.contact-map iframe{
    display: flex;
    flex-wrap: wrap;    
  }
  .contact-map{
    padding: 0px;
  }
}

/* Media queries for Products Details Page */
/* Small devices (less than 576px) */
@media (max-width: 575px) {
  .card-title {
    font-size: 1.25rem;
  }

  .card-subtitle {
    font-size: 0.875rem;
  }

  .card-text {
    font-size: 0.875rem;
  }
}

/* Medium devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .card-title {
    font-size: 1.375rem;
  }

  .card-subtitle {
    font-size: 1rem;
  }

  .card-text {
    font-size: 1rem;
  }
}

/* Large devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .card-title {
    font-size: 1.5rem;
  }

  .card-subtitle {
    font-size: 1.125rem;
  }

  .card-text {
    font-size: 1.125rem;
  }
}

/* Extra large devices (large desktops, 992px and up) */
@media (min-width: 992px) {
  .card-title {
    font-size: 1.75rem;
  }

  .card-subtitle {
    font-size: 1.25rem;
  }

  .card-text {
    font-size: 1.25rem;
  }
}
