/* Login Form CSS */

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.light-red{
  color: var(--light-red);
}


.position-absolute {
  top: 38px;
  right: 15px;
}

/* Login Form Media Query */

@media (max-width: 992px) {
  .position-absolute {
    top: 35px;
  }
}



